---
import BlogPost from "../../components/BlogPost.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/*.md");

  const uniqueTags = [
    ...new Set(allPosts.map((item) => item.frontmatter.tags).flat()),
  ];

  console.log(uniqueTags)
  const staticRoutes = uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((posts) =>
      posts.frontmatter.tags.includes(tag)
    );

    return {
      params: {tag},
      props: {posts: filteredPosts}
    }
  });

  return staticRoutes;
}

const { tag } = Astro.params;
const { posts = [] } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      posts.map((item) => {
        return <BlogPost url={item.url} title={item.frontmatter.title} />;
      })
    }
  </ul>
</BaseLayout>
