---
import BaseLayout from "../../layouts/BaseLayout.astro"; 

const posts = await Astro.glob('../posts/*.md');
const tags = [...new Set(posts.map(item => item.frontmatter.tags).flat())]
const pageTitle = "Tag Index";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
</BaseLayout>
