---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
const tags = frontmatter.tags ?? []
---
<BaseLayout pageTitle={frontmatter.title}>
    <p>{frontmatter.pubDate.slice(0,10)}</p>
    <p><em>{frontmatter.description}</em></p>
    <p>Written by: {frontmatter.author}</p>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
    <div class="tags">
      {tags.map((tag) => (
        <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>
    <slot />
</BaseLayout>
